@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Oswald", sans-serif;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

body, html {
  overflow-x: hidden;
  background-color: #0a0c26;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 14vh;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  opacity: 0;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

header nav::after {
  content: "";
  position: absolute;
  left: -25%;
  top: -5%;
  width: 60%;
  height: 70vh;
  background-color: #cb479f2c;
  border-radius: 50%;
  -webkit-filter: blur(10em);
          filter: blur(10em);
  z-index: -2;
}

header nav .burger {
  cursor: pointer;
  display: none;
}

header nav .burger div {
  width: 24px;
  height: 2px;
  background-color: white;
  margin: 7px 0;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

header nav .burger .line2 {
  margin: 6px 0;
}

header nav ul {
  margin: 0;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 99999;
}